[db]
host=172.17.237.168
port=3306
user=root
pass=Linux1982%%
name=NbIOT
char=utf8

[server]
ipaddress=
udpport=9999
buffersize=50

[concurrent]
process_thread_number=10

[sql]
search=SELECT * FROM NbIOT.IOTHardwareInUse where HardwareID='@PARAM@'
update=UPDATE `NbIOT`.`IOTHardwareInUse` SET `Data`='@PARAM@' WHERE `HardwareID`='@PARAM@'
insert=INSERT INTO `NbIOT`.`IOTHardwareInUse` (`HardwareID`, `Data`) VALUES ('@PARAM@', '@PARAM@')